﻿@model Project_ReisivadTöötajad.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Employee</h4>
    <h4 style="color: red;">Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Person ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        @*<dt>
            @Html.DisplayName("Person State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>*@

        <dt>
            @Html.DisplayName("Department Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*@{/* TODO: Ära jätta? */}
        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>
        @{/* TODO: Ära jätta? */}
        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
