﻿@model Project_ReisivadTöötajad.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Person ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        @*<dt>
            @Html.DisplayName("Person State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>*@



        <dt>
            @Html.DisplayName("Department Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*@{/* TODO: Ära jätta? */}

        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>
        @{/* TODO: Ära jätta? */}

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>
</div>



<h4>In Roles:</h4>
<ol>
    @foreach (var x in Model.UserInRoles)
    {
        <li> @Html.ActionLink((x.Role.RoleName), "RemoveRole", new { id = Model.Id, roleid = x.RoleId }, new { onclick = "javascript:return false;" }) </li>
        //Kui keegi leiab parema viisi, kuidas rolle kuvada, siis võib seda kasutada.
    }
</ol>




<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
