﻿@model IEnumerable<Project_ReisivadTöötajad.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Person", FormMethod.Get))
{
    <p>
        <div class="row">
            <div class="col-sm-2"> @Html.DropDownList("personId", null, "-- Select Name --", htmlAttributes: new { @class = "form-control" }) </div>  @*list personID luuakse controlleris*@
            <div class="col-sm-2"> @Html.DropDownList("departmentId", null, "-- Select Department --", htmlAttributes: new { @class = "form-control" }) </div>  @*list departmentID luuakse controlleris*@
            <div class="col-sm-2"> @Html.DropDownList("stateId", null, "-- Select State --", htmlAttributes: new { @class = "form-control" }) </div>  @*list stateID luuakse controlleris*@

            <div class="col-sm-2"> <input type="submit" value="Search" class="btn btn-default" /></div>

        </div>

    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Full Name")
        </th>
        <th>
            @Html.DisplayName("Person ID")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>*@
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
                @Html.DisplayName("Person State")
            </th>
        <th>
            @Html.DisplayName("Department Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*@if (item.PersonState != 1)*@
            
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonID)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @(((Dictionary<int, string>)ViewBag.PersonState)[item.PersonState]) @*Kuvatakse nimelise väärtusena*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @* @Html.ActionLink("Delete", "Delete", new { id = item.Id }) *@
                </td>
            
        </tr>
    }

</table>
