﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tagarida</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Application Name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a> @ViewBag.Kasutaja</a></li>*@
                    

                    @*Kas seda on vaja kuvada?
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.MenuLink("Reports", "About", "Home")</li>
                        }
                    *@

                    @if (Request.IsAuthenticated)
                    {
                        // kuidas kontrollida, et kasutaja on admin
                        Project_ReisivadTöötajad.Models.TagaridaEntities db = new Project_ReisivadTöötajad.Models.TagaridaEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Employee"))
                            {
                                <li>@Html.MenuLink("Home", "Index", "Travels")</li>
                                <li>@Html.MenuLink("New Application", "Create", "Travels")</li>                              
                            }
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                            {
                                @*<li>@Html.MenuLink("Admin", "Contact", "Home")</li>*@ @*Kommisin välja ja lisasin järgnevad 13 rida, et saada Admin dropdown list. Ada*@
                                <li class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="/Home/Contact" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Person">Employees</a></li>
                                        <li><a href="/Departments">Departments</a></li>
                                        <li><a href="/Roles">Roles</a></li>
                                        <li><a href="/SpendingTypes">Spending Types</a></li>
                                        <li><a href="/ReportLogs">Logs</a></li>
                                        @*<li><a href="~/Database_19032019.xlsx">Documentation</a></li>*@
                                    </ul>
                                </li>
                            }
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tagarida Corporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy'
            });
        });
    </script>

    <script src="Bootstrap/js/jquery.js" type="text/javascript"></script>
    <script src="Bootstrap/js/dropdown.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    <script>
        /* Estonian initialisation for the jQuery UI date picker plugin. */
        /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                // AMD. Register as an anonymous module.
                define(["../widgets/datepicker"], factory);
            } else {
                // Browser globals
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {
            datepicker.regional.et = {
                firstDay: 1,
            };
            datepicker.setDefaults(datepicker.regional.et);
            return datepicker.regional.et;
        }));
    </script>

@*Päevarahade puhul lahtrite automaatne täitmine*@
    <script type="text/javascript">
        function getDates(e) {
            var TravelId = Number($('#TravelId').val());
            //  var DailyAllowanceAmount = Number($('#Travel.DailyAllowance').val());
            var TypeId = $(e).val();  //get selected value
            var DailyAllowanceAmount = $("input[name='Travel.DailyAllowance']").val();
            if (TypeId == 5)   /*Päevaraha*/ {
                $.ajax
                    ({
                        type: "Post",
                        url: "/Spendings/GetStartDate",
                        data: { TravelID: TravelId },
                        datatype: "json",
                        success: function (response) {
                            $("input[name='StartDate']").val(response);
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });

                $.ajax
                    ({
                        type: "Post",
                        url: "/Spendings/GetEndDate",
                        data: { TravelID: TravelId },
                        datatype: "json",
                        success: function (response) {
                            $("input[name='EndDate']").val(response);
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });

                $.ajax
                    ({
                        type: "Post",
                        url: "/Spendings/GetDailyAllowance",
                        data: { TravelID: TravelId },
                        datatype: "json",
                        success: function (response) {
                            $("input[name='Amount']").val(response);
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                $("input[name='ServiceProvider']").val("");
                $("input[name='VatEUR']").val("");
                $("#ServiceProvider").prop("readonly", true);
                $("#StartDate").prop("readonly", true);
                $("#StartDate").keypress(function (event) { event.preventDefault(); });
                $("#EndDate").prop("readonly", true);
                $("#EndDate").keypress(function (event) { event.preventDefault(); });
                $("#Amount").prop("readonly", true);
                $("#VatEUR").prop("readonly", true);

                // $("input[name='Amount']").val(DailyAllowanceAmount);
            }
            //else {
            //    $("input[name='StartDate']").val(""); //clear startdate
            //}
        };

    </script>
    


    @*<audio src="..\..\Tagareas.mp3" autoplay="autoplay" loop="loop"> </audio>
        <script>
            //Et lehte vahetades laul hakkaks samast kohast mängima
            function setCookie(c_name, value, exdays) {
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
                document.cookie = c_name + "=" + c_value;
            }

            function getCookie(c_name) {
                var i, x, y, ARRcookies = document.cookie.split(";");
                for (i = 0; i < ARRcookies.length; i++) {
                    x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                    x = x.replace(/^\s+|\s+$/g, "");
                    if (x == c_name) {
                        return unescape(y);
                    }
                }
            }

            var song = document.getElementsByTagName('audio')[0];
            var played = false;
            var tillPlayed = getCookie('timePlayed');
            function update() {
                if (!played) {
                    if (tillPlayed) {
                        song.currentTime = tillPlayed;
                        song.play();
                        played = true;
                    }
                    else {
                        song.play();
                        played = true;
                    }
                }

                else {
                    setCookie('timePlayed', song.currentTime);
                }
            }
            setInterval(update, 0);
        </script>*@
</body>
</html>
