﻿@model Project_ReisivadTöötajad.Models.Travel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Travel</h4>
    <h4 style="color: red;">Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayName("Travel Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelName)
        </dd>*@

        <dt>
            @Html.DisplayName("Full Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

        @*<dt>
                @Html.DisplayName("Person ID")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.PersonID)
            </dd>*@

        <dt>
            @Html.DisplayName("Travel Destination")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDestination)
        </dd>

        <dt>
            @Html.DisplayName("Trip Purpose")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripPurpose)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("End Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayName("Travel Days")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayName("Travel Nights")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightsDuration)
        </dd>


        <dt>
            @Html.DisplayName("Comments")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Report Status")
        </dt>

        <dd>
            @(((Dictionary<int, string>)ViewBag.ReportState)[Model.ReportState])
        </dd>

    </dl>
    @Html.Action("Index", "Spendings", new { travelid = Model.Id })   @*kuvab spendingu view*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
