﻿@*@model IEnumerable<Project_ReisivadTöötajad.Models.Travel>*@
@model PagedList.IPagedList<Project_ReisivadTöötajad.Models.Travel>
@using PagedList.Mvc;

@{
    Layout = null;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    /**/

    ViewBag.Title = "Travels";
}
<h2>Travels</h2>

<div class="form-group">
    @* @Html.LabelFor(model => model.PersonId, "Name", htmlAttributes: new { @class = "control-label col-md-2" })*@
    @**<div class="col-md-10">
            @Html.DropDownList("PersonId", null, htmlAttributes: new { @class = "form-control" })
        </div>**@
</div>

@using (Html.BeginForm("Index", "Travels", FormMethod.Get))
{
    @*<p>
            Find by destination or trip purpose: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>*@

<p>
    <div class="row">
        <div class="col-sm-2"> @Html.DropDownList("personId", null, "-- Select Name --", htmlAttributes: new { @class = "form-control" }) </div>  @*list PersonID luuakse controlleris*@
        <div class="col-sm-2"> @Html.DropDownList("statusId", null, "-- Select Status --", htmlAttributes: new { @class = "form-control" }) </div>  @*list StatusID luuakse controlleris*@
                              
        <div class="col-sm-2">@Html.TextBox("fromDate", null, new { @class = "form-control datepicker" })</div>
        <div class="col-sm-2"> @Html.TextBox("toDate", null, new { @class = "form-control datepicker" })</div>
        <div class="col-sm-2"> <input type="submit" value="Search" class="btn btn-default" /></div>

    </div>

</p>

}


@*<p>
        Page @ViewBag.Page of @ViewBag.Pages pages

        @if (ViewBag.Page >= 0)
        {
            <b>
                @Html.ActionLink("  <<  ", "Index", new { page = 0 })
                @Html.ActionLink("  <  ", "Index", new { page = Math.Max(ViewBag.Page - 1, 0) })
            </b>
        }
        @if (ViewBag.Page < ViewBag.Pages)
        {
            <b>
                @Html.ActionLink("  >  ", "Index", new { page = Math.Min(ViewBag.Page + 1, ViewBag.Pages) })
                @Html.ActionLink("  >>  ", "Index", new { page = ViewBag.Pages })
            </b>
        }

    </p>

@*<h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("PersonId")
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode("Employee Name &#11137;"), "Index", new { sortOrder = ViewBag.NameSortParm, currentPersonId = ViewBag.currentPersonId, currentFromDate = ViewBag.cFromDate, currentToDate = ViewBag.cToDate, currentStatusId = ViewBag.currentStatusId })   @*lisatud hüperlink sorteerimise jaoks*@
        </th>
        <th>
            @Html.DisplayName("Destination")
        </th>
        <th>
            @Html.DisplayName("Trip Purpose")
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode("Start Date &#11137;"), "Index", new { sortOrder = ViewBag.DateSortParm, currentPersonId = ViewBag.currentPersonId, currentFromDate = ViewBag.cFromDate, currentToDate = ViewBag.cToDate, currentStatusId = ViewBag.currentStatusId })   @*lisatud hüperlink sorteerimise jaoks*@
        </th>
        <th>
            @Html.DisplayName("End Date")
            @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        </th>
        @*<th>
                @Html.DisplayName("Travel Days")
            </th>
            <th>
                @Html.DisplayName("Travel Nights")
            </th>*@

        <th>
            @Html.DisplayName("Report Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr @(item.ReportState == 1 ? "style=background-color:#ffffff" : "")
            @(item.ReportState == 2 ? "style=background-color:#e0e0e0" : "")
            @(item.ReportState == 3 ? "style=background-color:#efacac" : "")
            @(item.ReportState == 4 ? "style=background-color:#d6e2a5" : "")
            @(item.ReportState == 5 ? "style=background-color:#a6a6a6" : "")>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NightsDuration)
                </td>*@

            <td>
                @(((Dictionary<int, string>)ViewBag.ReportState)[item.ReportState]) @*Kuvatakse nimelise väärtusena*@
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentPersonId = ViewBag.currentPersonId, currentFromDate = ViewBag.cFromDate, currentToDate = ViewBag.cToDate, currentStatusId = ViewBag.currentStatusId }))