﻿@{
    ViewBag.Title = "Admin";
}

    <p class="lead">Siin saad hallata dimensiooni tabelite andmeid.</p>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        @*<p><a class="btn btn-default" href="/Files">Failide haldus &raquo;</a></p>   @*link ei tööta millegipärast*@ @*Töötab, aga võtab kaua aega. Ada*@*@
        @*<p><a class="btn btn-default" href="/Spendings">Kulude haldus &raquo;</a></p>*@
        <p><a class="btn btn-default" href="/SpendingTypes">Spending types &raquo;</a></p>
        <p><a class="btn btn-default" href="/Departments">Departments &raquo;</a></p>
        <p><a class="btn btn-default" href="/Roles">Roles &raquo;</a></p>
        <p><a class="btn btn-default" href="/Person">Employees &raquo;</a></p>
    </div>

</div>