﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <style type="text/css">
        body {
            background-image: url('../../Content/business-trip11.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
        </style>
        </head>
<div class="jumbotron text-black">
    @*See hall kast oli õudne, aga paremat ei leidnud.*@

    <h3>Hello!</h3>
    <p class="lead">Here you can enter your travel applications</p>
    @if (Request.IsAuthenticated)
    {
        <h4>
            @ViewBag.Kasutaja <br />
            Rollid: @ViewBag.Rollid
        </h4>
        <br />
        <p><a href="/Travels" class="btn btn-primary btn-lg ">Go to Travels &raquo;</a></p>
        @*<p><a> @Html.Action("Index2", "Travels", "Travels") </a></p>*@ @*Kuvab Travels vaadet Home lehel, kui on sisse logitud*@
    }
    else
    {
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Please log in &raquo;</a></p>

    }

    @*</div>*@
    <audio src="..\..\Tagareas.mp3" autoplay="autoplay"> </audio>
