﻿@model Project_ReisivadTöötajad.Models.Spending

@{
    ViewBag.Title = "Delete";
}

<h2>Delete spending</h2>
<div>
    @Html.ActionLink("Back to Application", "Edit", "Travels", new { id = Model.TravelId }, null)
</div>

<h4 style="color: red;">Are you sure you want to delete this?</h4>
<div>
    @*<h4>Spending</h4>*@
    <hr />
    <dl class="dl-horizontal">




        @*<dt>
            @Html.DisplayName("Travel Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.TravelName)
        </dd>*@

        <dt>
            @Html.DisplayName("Spending Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingType.SpendingName)
        </dd>
@if (Model.SpendingType.Id != 5)
{
    <dt>
            @Html.DisplayName("Service Provider")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceProvider)
        </dd>
}

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayName("End Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayName("Amount (incl VAT), EUR")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        @if(Model.SpendingType.Id != 5)
         {
        <dt>
            @Html.DisplayName("VAT Amount, EUR")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatEUR)
        </dd>
        }
        @*<dt>
            @Html.DisplayName("Daily Allowance")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Travel.DailyAllowance)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
