﻿
@model IEnumerable<Project_ReisivadTöötajad.Models.Spending>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}
<h3>Related expenses - Total: @ViewBag.TotalAmount EUR</h3>

<p>
    @Html.ActionLink("Create New", "Create", new { travelid = ViewBag.TravelId })   @*travelid väärtuseks paneb spending kontrolleris defineeritud travelid*@
</p>

<table class="table">
    <tr>

        @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayName("Travel Id")
            </th>*@
        @*<th>
                @Html.DisplayName("Travel Name")
            </th>*@
        <th>
            @Html.DisplayName("Spending Type")
        </th>
        <th>
            @Html.DisplayName("Service Provider")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("Ending Date")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelId)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Travel.TravelName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>


            <td>
                @if (item.Travel.ReportState != 5 && item.SpendingType.Id != 5)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @ViewBag.IconAfterText
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (item.Travel.ReportState != 5)
                {
                   @ViewBag.IconBeforeText @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                </td>
            </tr>
        }

            </table>
